/* Footer styles */
footer {
    background-color: #f8f8f8;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    width: auto;
  }
  
  footer p {
    background-color: #2C5916;
    color: white;
    margin: 0;
  }
  
  footer a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
  }
  
  footer a:hover {
    color: #2C5916;
    text-decoration: underline;
  }
  